/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  font-family: consolas;
}

.score-animation {
  padding-top: 7px;
}
form {
  justify-content: center;
}
.row {
  font-size: 2rem;
}
.set {
  max-width: 50em;
}
.set-input {
  min-width: 13.8em;
}
.set-input2 {
  min-width: 9.5em;
  text-align: left;
}

@media (max-width: 576px) {
  .container {
    max-width: 575px;
  }
  h1 {
    font-size: 1em;
    text-align: center;
  }
  .heading {
    font-size: 2em;
  }
  .setting {
    max-width: 12em;
  }
  form {
    display: flex;
    justify-content: center;
    max-width: 300px;
  }
}
